.tito{text-align: center;
color: brown;


}  

.tito{
    border-color: chartreuse;
    border-style: double;
    background-color: blue;
    margin-left: 30%;
    margin-right: 20%; 
}
.tito{front-size:150%;

}
